body {
  display: flex;
  width: 100vw;
  height: 100vh;
  grid-template: [header-left] "nav head head head" [header-right]
                 [main-left]   "nav main main main" [main-right]
                 [footer-left] "nav foot foot foot" [footer-right];
  margin: 0;
  background: linear-gradient(72.61deg, #9AE5A8 0%, #4DB8A7 32.37%, #248997 56.35%, #2A5A74 77.49%, #283044 99.76%);
}

header {
  background-color: #EC1010;
  grid-area: head;
  position: absolute;
  width: 76vw;
  height: 20vh;
  left: 21vw;
  top: 2vh;
  border-radius: 30px; 

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 7vh;
  align-items: center;
  text-align: center;
}

nav {
  background-color: #EBF5EE;
  grid-area: nav;
  position: absolute;
  width: 18vw;
  height: 96vh;
  left: 1vw;
  top: 1vh;
  border-radius: 30px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 70px;    
  color: #60993E;
  align-self: auto;
  text-align: center;
}

.Indicadores {
  grid-area: main;
  position: absolute;
  left: 18vw;
  top: 27vh;
  border-radius: 30px; 
  color: #60993E;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 54px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.Indi{
background: #EBF5EE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
width: 558px;
height: 202px;
gap: 54px;
align-items: center;
justify-content: center;
}


footer {
  background-color: #EBF5EE;
  grid-area: foot;
  position: absolute;
  width: 76vw;
  height: 25vh;
  left: 21vw;
  top: 72vh;
  border-radius: 30px;  

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 70px;    
  color: #60993E;
  align-items: center;
  text-align: center;
}